/*
=============== 
Variables
===============
*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap");

:root {
	/* Colors */
	--red: #fc4747;
	--blue: #5a698f;
	--semi-dark-blue: #161d2f;
	--dark-blue: #10141e;
	--dark-blue-opacity: #10141ebd;
	--white: #fff;
	--white-opacity: rgba(255, 255, 255, 0.808);

	/* Font */
	font-family: "Outfit", sans-serif;
	--heading-xxl: 5.4rem;
	--heading-xl: 3.6rem;
	--heading-l: 3.2rem;
	--heading-m: 2.4rem;
	--heading-s: 2rem;
	--heading-xs: 1.7rem;
	--body-m: 1.6rem;
	--body-s: 1.4rem;
}

/*
=============== 
Global classes
===============
*/

body {
	background-color: var(--dark-blue);
	color: var(--white);
}

#id {
	display: flex;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

@media (min-width: 1400px) {
	.app {
		flex-direction: row;
		gap: 2rem;
		padding: 3rem;
		height: 100vh;
		overflow-y: hidden;
	}
}

.inactive {
	display: none;
}

/*
=============== 
Landing
===============
*/

.landing {
	width: 100%;
	display: flex;
	flex-direction: column;
	background: url("./assets/manuflix-grad.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;
}

@media (min-width: 1400px) {
	.landing {
		transform: scale(1.03, 1.07);
	}
}

.landing-nav {
	height: max-content;
	padding: 3rem 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.landing__logo {
	max-height: 6rem;
}

.landing-text {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 3rem;
}

.landing-title {
	font-size: var(--heading-xxl);
	line-height: 1.3;
	font-weight: 400;
	text-shadow: 3px 5px 2px var(--dark-blue);
}

.landing-subtitle {
	font-size: var(--heading-xl);
	font-weight: 200;
	text-shadow: 3px 5px 2px var(--dark-blue);
}

.landing-links {
	margin-top: 3rem;
	display: flex;
	gap: 3rem;
}

.landing-btn {
	background-color: var(--red);
	padding: 2rem 4rem;
	border-radius: 0.8rem;
	font-size: var(--heading-m);
	font-weight: 300;
	letter-spacing: 0.05rem;
	-webkit-box-shadow: 0px 0px 10px 1px var(--dark-blue);
	box-shadow: 0px 0px 10px 1px var(--dark-blue);
}

@media (max-width: 600px) {
	.landing-nav {
		padding: 3rem 3rem;
	}

	.landing-title {
		font-size: var(--heading-xl);
	}

	.landing__logo {
		max-height: 4rem;
	}

	.landing-subtitle {
		font-size: var(--heading-m);
	}

	.landing-btn {
		padding: 1.25rem 2.5rem;
		font-size: var(--heading-xs);
	}
}

/*
=============== 
Header
===============
*/

.header {
	background-color: var(--semi-dark-blue);
	min-height: 6rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1.5rem;
}

@media (min-width: 700px) {
	.header {
		border-radius: 1.6rem;
		height: 7rem;
		margin: 2rem 2rem 0 2rem;
		padding-inline: 3rem;
	}
}

@media (min-width: 1400px) {
	.header {
		padding-block: 3rem;
		margin: 0;
		flex-direction: column;
		min-width: 9rem;
		height: 100%;
		align-items: center;
		gap: 10rem;
		justify-content: flex-start;
	}
}

.header__logo {
	height: 2.2rem;
	width: 2.8rem;
}

.header__nav {
	display: flex;
	justify-content: space-around;
	gap: 3rem;
}

@media (min-width: 1400px) {
	.header__nav {
		flex-direction: column;
		gap: 4rem;
	}
}

.header__nav-icon:is(:hover, :focus) > path {
	fill: rgba(255, 255, 255, 0.673);
}

.header__avatar {
	height: 2.6rem;
	width: 2.6rem;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0.2rem #ffffff;
	font-size: var(--heading-m);
	color: var(--red);
}

@media (min-width: 1400px) {
	.avatar-link {
		margin-top: auto;
	}
}

/*
=============== 
Search
===============
*/

.search {
	height: 8rem;
	display: flex;
	gap: 1.6rem;
	align-items: center;
}

@media (min-width: 1400px) {
	.search {
		padding-top: 2rem;
	}
}

.search__input {
	width: 100%;
	border: none;
	padding: 1rem;
	background-color: var(--dark-blue);
	color: var(--white);
	font-family: "Outfit", sans-serif;
	font-size: var(--heading-xs);
	font-weight: 200;
	letter-spacing: 0.05rem;
	caret-color: var(--red);
}

/*
=============== 
Home
===============
*/

.home {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1.5rem;
	width: 100%;
	padding-bottom: 8rem;
}

@media (min-width: 1400px) {
	.home {
		width: 100%;
		padding-top: 0;
		overflow-y: scroll;
		height: 100vh;
		gap: 3rem;
		-ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
		scrollbar-width: none; /* Hide scrollbar for Firefox */
	}

	.home::-webkit-scrollbar {
		display: none; /* Hide scrollbar for Chrome, Safari and Opera */
	}
}

/* Trending */

.home__section {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.home__section:nth-child(3) {
	padding-top: 2rem;
}

.home__title {
	font-size: var(--heading-l);
	font-weight: 300;
}

.home__container {
	display: flex;
	gap: 2rem;
}

/* Swiper */

.swiper {
	height: 23rem;
	width: 100%;
}

@media (max-width: 500px) {
	.swiper {
		height: 14rem;
	}
}

.bloc {
	background: var(--white);
	height: 100%;
	display: block;
	position: relative;
	cursor: pointer;
	border-radius: 0.8rem;
	overflow: hidden;
}

.bloc:is(:hover, :focus) .playContainer {
	display: flex;
}

.card__txtContainer {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 300;
	font-size: var(--body-m);
	margin: 0.8rem 0 0.5rem;
	position: absolute;
	top: 15rem;
	left: 2rem;
}

@media (max-width: 500px) {
	.card__txtContainer {
		top: 80px;
		font-size: var(--body-s);
	}
}

.swiper-slide img {
	display: bloc;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.icon-card {
	width: 1.6rem !important;
	height: 1.6rem !important;
	object-fit: unset;
	display: unset;
}

.playContainer {
	position: absolute;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	z-index: 3;
	display: none;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.playBtn {
	height: 5rem;
	width: 12rem;
	border-radius: 48px;
	background: rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
}

.playBtn img {
	height: 30px;
	width: 30px;
	margin: 0 2rem 0 1rem;
}

.playBtn p {
	color: var(--white);
	font-weight: 500;
	font-size: var(--heading-xs);
}

.bookMarked {
	height: 4rem;
	width: 4rem;
	position: absolute;
	border-radius: 50%;
	top: 1.6rem;
	right: 1.6rem;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;
}

.bookMarked img {
	width: 13px;
	height: 16px;
	object-fit: unset;
}

.bookMarked:is(:hover) {
	background: var(--white);
}

.bookMarked:hover .bookMarked-img {
	filter: invert(1);
}

@media (min-width: 140px) {
	.bookMarked {
		height: 5rem;
		width: 5rem;
	}

	.bookMarked img {
		width: 16px;
		height: 19px;
		object-fit: unset;
	}
}

.bloc h3 {
	color: var(--white);
	font-weight: 500;
	font-size: var(--heading-m);
	position: absolute;
	bottom: 20px;
	left: 20px;
}

@media (max-width: 500px) {
	.bloc h3 {
		font-size: var(--heading-xs);
		bottom: 10px;
	}
}

/* Recommended */

.home__card {
	min-height: 18rem;
	border-radius: 0.8rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: flex-start;
	padding: 1.2rem 1.2rem 2rem 2rem;
	background-size: cover;
}

.home__card__bookmark {
	align-self: flex-end;
	width: max-content;
	padding: 1rem 1.2rem;
	background-color: var(--dark-blue-opacity);
	border-radius: 50%;
}

.home__card__bookmark:is(:hover) {
	background: var(--white);
}

.home__card__bookmark:hover .home__card__icon {
	filter: invert(1);
}

.home__card__info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.home__card__details {
	display: flex;
	flex-direction: row;
	color: var(--white-opacity);
	gap: 0.6rem;
	font-size: var(--body-s);
	font-weight: 200;
}

.home__card__title {
	font-size: var(--heading-xs);
	font-weight: 300;
}

.home__container-recommended {
	display: grid;
	justify-items: start;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	row-gap: 3rem;
}

.home__card-container-recommended {
	display: flex;
	justify-self: stretch;
	flex-direction: column;
	gap: 1rem;
}

.home__card-recommended {
	min-height: 11rem;
	min-width: 16.4rem;
	width: 100%;
	transform: scale(1);
	transition: transform 0.2s;
}

.home__card-recommended:hover {
	transform: scale(1.02);
}

@media (min-width: 500px) {
	.home__card-recommended {
		min-height: 15rem;
	}
}

@media (min-width: 700px) {
	.home__container-recommended {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.home__card-recommended {
		min-height: 15rem;
	}
}

@media (min-width: 1100px) {
	.home__container-recommended {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 1500px) {
	.home__container-recommended {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.home__card-recommended {
		min-height: 20rem;
	}
}

/*
=============== 
Error
===============
*/

.errorHandler {
	padding-top: 2rem;
	display: flex;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.errorHandler svg,
.error-img {
	width: 15rem;
	height: 15rem;
}

@media (max-width: 500px) {
	.errorHandler svg {
		width: 10rem;
		height: 10rem;
	}
}

.errorHandler p {
	font-size: var(--heading-m);
	font-weight: 200;
}

/* Error page */

.errorpage {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
	font-size: var(--body-m);
	font-weight: 200;
}

.errorpage > svg {
	margin-bottom: 2rem;
}

.errorpage > a {
	color: var(--red);
	text-decoration: underline;
}

.errorpage > a:hover {
	color: var(--red);
	text-decoration: underline;
}

/*
=============== 
Login / Signup
===============
*/

.login {
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	justify-content: space-between;
	align-items: center;
	font-size: var(--body-m);
	font-weight: 200;
}

@media (max-width: 1400px) {
	.login {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.signup {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}

.login-logo {
	height: 2.2rem;
	width: 2.8rem;
}

.login-card {
	min-width: 36rem;
	min-height: 38.5rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	background-color: var(--semi-dark-blue);
	border-radius: 1.6rem;
	padding: 4rem 3rem;
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.login-title {
	font-size: var(--heading-l);
}

.login-input {
	border: none;
	border-bottom: 1px solid var(--blue);
	padding: 1rem;
	width: 100%;
	background-color: var(--semi-dark-blue);
	color: var(--white);
	font-family: "Outfit", sans-serif;
	font-size: var(--body-m);
	font-weight: 200;
	letter-spacing: 0.05rem;
	caret-color: var(--red);
}

.login-input:is(:hover, :focus) {
	border-bottom: 1px solid var(--white);
}

.invalid-input {
	border-bottom: 1px solid var(--red);
}

.error-message {
	padding-left: 1.2rem;
	color: var(--red);
	padding-top: 2rem;
	align-self: left;
	background-color: var(--dark-blue);
	border-radius: 0.8rem;
}

.submit-btn {
	margin-top: 1rem;
	width: 100%;
	padding-block: 2rem;
	border-radius: 0.8rem;
	background-color: var(--red);
	color: var(--white);
	font-size: var(--heading-xs);
	font-weight: 300;
	letter-spacing: 0.05rem;
}

.submit-btn:is(:hover) {
	background-color: var(--white);
	color: var(--semi-dark-blue);
}

.no-acc {
	text-align: center;
	font-weight: 300;
}

.no-acc > a {
	padding-left: 1rem;
	color: red;
}

.no-acc > a:hover {
	padding-left: 1rem;
	color: red;
}

.success-card {
	min-width: 36rem;
	min-height: 20rem;
}
